<!DOCTYPE HTML>
<html>
<head>
	<title>View</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body id="top">
	<header id="header">
		<div class="inner">
			<a href="slide7.jpg" class="image avatar"><img src="images/slide8.jpg" alt="" /></a>
			<h1><strong>滬尾</strong></h1>
			<p>美景</p>
		</div>
	</header>

	<div id="main">
		<section id="one">
			<header class="major">
				<p>即使一動也不動，時間也在替我們移動。</p>
				<h3>而日子的消逝，就是帶走我們希望保留的幻想。</h3>
			</header>
		</section>

		<section id="two">
			<h2>Scenery</h2>
			<div class="row">
				<article class="6u 12u$(xsmall) work-item">
					<a href="images/slide6.jpg" class="image fit thumb"><img src="images/slide6.jpg" alt="" /></a>
					<p>幸福，是一種感覺，不是一種比較，只有掌握自己的人，才能把握幸福。</p>
				</article>
				<article class="6u$ 12u$(xsmall) work-item">
					<a href="images/slide7.jpg" class="image fit thumb"><img src="images/slide7.jpg" alt="" /></a>
					<p>天空，是大家的；人生，是自己的。</p>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="images/slide8.jpg" class="image fit thumb"><img src="images/slide8.jpg" alt="" /></a>
					<p>葉子的離開，是因為風的追求，還是樹不挽留?</p>
				</article>
				<article class="6u$ 12u$(xsmall) work-item">
					<a href="images/slide9.jpg" class="image fit thumb"><img src="images/slide9.jpg" alt="" /></a>
					<p>你享受著浪費的那些時間，不是浪費。</p>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="images/slide12.jpg" class="image fit thumb"><img src="images/slide12.jpg" alt="" /></a>
					<p>音樂家永遠不會退休；他們停下來是因為腦海中不再有音樂。</p>
				</article>
				<article class="6u$ 12u$(xsmall) work-item">
					<a href="images/slide13.jpg" class="image fit thumb"><img src="images/slide13.jpg" alt="" /></a>
					<p>用你的微笑改變世界，但別讓世界改變了你的微笑。</p>	
				</article>
			</div>
			<a target="_blank" href="https://www.google.com/maps/place/滬尾礮臺/@25.179218,121.429389,15z/data=!4m5!3m4!1s0x0:0x9351af49b081f05c!8m2!3d25.179218!4d121.429389">Navigation of 滬尾</a>
		</section>
		</br>--滬尾文青小組--</h2>
		<ui class="action">
			<li><a href="..\index.html" class="button">Home</a></li>
		</ui>
	</div>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; Bobby</li>
			</ul>
		</div>
	</footer>

<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>